@media only screen {
    /*Mobile*/
    @media (max-width: 767px) {
        input#number {
            font-size: 150%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    /*Desktop*/
    @media (min-width: 768px) {
        .desktop-hide {
            display: none;
        }
    }
} 